.debug {
  background-color: rgba(49, 235, 88, .3);
  border: 1px solid black;
}
.vf-container {
  width: 100%;
}
.vf-left-bar, main .main-top {
  color: white;
}
/* header */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
header .mobile-logo {
  width: 50px;
}
header .logo {
  max-width: 100%;
}
header input {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
header input:focus {
  border: none;
}
.searchbar {
  height: 40px;
}
/* /header */
/* left-bar */
.vf-left-bar {
  width: 60px;
  height: calc(100vh - 60px);
  float: left;
  padding: 5px;
  background-image: url(../img/sidebar-bg.png);
  filter: invert(1);
}
/* /left-bar */
/* main */
main {
  width: calc(100% - 60px) ;
  height: calc(100vh - 60px);
  overflow: auto;
  margin-top: 60px;
  background-color: #f7f7f8;
}
.main-top {
  background-color: #1d72e8;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.main-top > .row {
  width: 100%;
}
.main-top .boolean span:first-child, .main-top .online-studs {
  font-size: 28px;
}
.main-top .boolean span:not(.main-top .boolean span:first-child) {
  display: inline-block;
  font-size: 12px;
  border: 1px solid transparent;
  padding: 3px;
  border-radius: 15px;
  background-color: #165bba;
}
.main-top .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.main-top button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  margin-left: 8px;
  border-radius: 5px;
}
main .left-col {
  width: 100%;
}
main .right-col {
  width: 100%;
}
main .card {
  margin-bottom: 20px;
}
main h3 {
  width: 100%;
  border-bottom: 1px solid #dee2e8  ;
  padding: 10px;
  background-color: #f7f7f8;
  overflow: hidden;
}
main .accordion-item {
  padding: 0;
} 
.todo .todo-box {
  padding: 5px;
}
.todo .todo-box.vf-border {
  border-bottom: 1px solid #dee2e8;
}
/* table */
table {
  font-size: 12px;
}
table .table-fix {
  width: 98px;
}
table .class-avatar {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
table .class-avatar-img {
  width: 100%;
}
/* /table */
/* /main */



@media screen and (min-width:576px)  {
  .stud {
    order: 3;
  }
}
@media screen and (min-width:768px)  {
  .vf-left-bar {
    width: 120px;
  }
  main {
    width: calc(100% - 120px);
  }
  header .logo {
    display: block;
  }
  header .mobile-logo {
    display: none;
  }
  main .left-col {
    width: 70%;
  }
  main .right-col {
    width: 30%;
  }
  .stud {
    order: 3;
  }
  .vf-left-bar {
    width: 160px;
  }
  main {
    width: calc(100% - 160px);
  }
}
