.debug {
  background-color: rgba(49, 235, 88, .3);
  border: 1px solid black;
}
.vf-container {
  width: 100%;
}
/* header */
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
header .mobile-logo {
  width: 50px;
}
header .logo {
  max-width: 100%;
}
header input {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}
header input:focus {
  border: none;
}
.searchbar {
  height: 40px;
}
/* /header */
/* left-bar */
.vf-left-bar {
  width: 60px;
  height: calc(100vh - 60px);
  float: left;
  padding: 5px;
}
/* /left-bar */
/* main */
main {
  width: calc(100% - 60px) ;
  height: calc(100vh - 60px);
  overflow: auto;
  margin-top: 60px;
}
.main-top {
  background-color: aqua;
}
/* /main */



@media screen and (min-width:576px)  {
  .stud {
    order: 3;
  }
}
@media screen and (min-width:768px)  {
  .vf-left-bar {
    width: 120px;
  }
  main {
    width: calc(100% - 120px);
  }
  header .logo {
    display: block;
  }
  header .mobile-logo {
    display: none;
  }
}
@media screen and (min-width:768px)  {
  .stud {
    order: 3;
  }
  .vf-left-bar {
    width: 160px;
  }
  main {
    width: calc(100% - 160px);
  }
}